@* @model ViewModels.AddressViewModel

@Html.DropDownListFor(m => m.Addresses, new SelectList(Model.Addresses, "Id", "Country"), " ") *@

@model Models.Event







<div class="form-group">
    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PriceToPayToParticipate " class="control-label"></label>
    <input asp-for="PriceToPayToParticipate " class="form-control" />
    <span asp-validation-for="PriceToPayToParticipate " class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="StartDate" class="control-label"></label>
    <input asp-for="StartDate" class="form-control" />
    <span asp-validation-for="StartDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EndDate" class="control-label"></label>
    <input asp-for="EndDate" class="form-control" />
    <span asp-validation-for="EndDate" class="text-danger"></span>
</div>