################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/webapp/.vs/webapp/v16/Server/sqlite3/db.lock
/webapp/.vs/webapp/DesignTimeBuild/.dtbcache
/webapp/.vscode/
/webapp/bin/
/webapp/obj/
