################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/webapp/.vs/webapp/v16/Server/sqlite3/db.lock
/webapp/.vs/webapp/DesignTimeBuild/.dtbcache
/webapp/.vscode/
/webapp/bin/
/webapp/obj/
/webapp/wwwroot/pgia/lib
/webapp/wwwroot/_pgbackup
/.vs/marque-sans-nom/config
/.vs/marque-sans-nom/v16
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/webapp/wwwroot/pinegrow.json
