@model EditRoleViewModel

@{
    ViewBag.Title = "Modifier un rôle";
    Layout = "_Layout.cshtml";
}

<h2>Modifier un r&ocirc;le : @Model.RoleName</h2>
<div class="row">
    <div class="col-md">
        <form method="post">

            <div class="form-group no-gutters">
                <label asp-for="RoleName"></label>
                <div class="col-md-6">
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md">
                    <button type="submit" class="btn btn-primary m-1">
                        <i class="fas fa-check" style="width:14px; height:16px"></i>
                        &nbsp;
                        Sauvegarder
                    </button>
                    <a asp-action="ListRoles" class="btn btn-danger m-1">
                        <i class="fas fa-times" style="width:14px; height:16px"></i>
                        &nbsp;
                        Annuler
                    </a>
                </div>
            </div>

            <h2 class="mt-4">Liste des utilisateurs</h2>

            <a class="btn btn-success m-1" role="button" asp-action="EditUsersInRole" asp-controller="Administration" asp-route-roleId="@Model.Id">
                <i class="fas fa-plus"></i>
                &nbsp;
                Ajouter un utilisateur
            </a>

            <div class="row">
                <div class="col-md">
                    @if (Model.Users.Any())
                    {

                        <table id="myTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Utilisateur</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users)
                                {
                                    <tr>
                                        <td>
                                            @user
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Aucun utilisateur. Veuillez en ajouter un.</p>
                    }
                </div>
            </div>
        </form>

        <div>
            <a asp-action="ListRoles">Retour &agrave; la liste des r&ocirc;les</a>
        </div>
    </div>
</div>