@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Liste des rôles";
    Layout = "_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md">
        <a class="btn btn-success m-1" role="button" asp-action="CreateRole" asp-controller="administration">
            <i class="fas fa-plus"></i>
            &nbsp;
            Ajouter un r&ocirc;le
        </a>

        @if (Model.Any())
        {
            <table id="myTable" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom du r&ocirc;le</th>
                        <th scope="col" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>
                                @role.Name
                            </td>
                            <td class="text-right">
                                <a class="btn btn-primary mx-1" asp-action="EditRole" asp-controller="Administration"
                                   asp-route-id="@role.Id">
                                    <i class="fas fa-edit" style="width:14px; height:16px"></i>
                                </a>
                                <a class="btn btn-danger" asp-controller="Administration" asp-action="DeleteRole"
                                   asp-route-id="@role.Id">
                                    <i class="fas fa-trash-alt" style="width:14px; height:16px"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Aucun r&ocirc;le. Veuillez en cr&eacute;er un.</p>
        }
    </div>
</div>