

@{
    ViewData["Title"] = "About";
}
<body>
<div class="text-center">
    <h1 class="display-4">Welcome a la about page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


                      
</div>
</body>
