@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Models

@* CETTE PAGE CONTIENT LE FOOTER *@
@* LE FOOTER EST UTILISÉ DANS _HOMEPAGELAYOUT ET _LAYOUT *@

<footer class="mt-auto py-md-5 py-3 bg-dark footer">
    <div class="container">
        <div class="row">
            <div class="my-2 col-12 col-md">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/soccer-ball-logo.svg" width="30" height="30" class="d-inline-block align-top mr-1" alt="" />
                    EVENTS INC.
                </a>
            </div>
            <div class="my-2 col-12 col-md">
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <i class="fas fa-envelope mr-1"></i>
                    Contactez-nous
                </a>
            </div>
            <div class="my-2 col-12 col-md">
                <a href="https://github.com/mrjrdg/marque-sans-nom">
                    <i class="fab fa-github mr-1"></i>
                    Nous suivre sur Github
                </a>
            </div>
            <div class="my-2 col-12 col-md">
                @if (SignInManager.IsSignedIn(User))
                {
                    <p>
                        <a asp-controller="Business" asp-action="Index">
                            <i class="far fa-building"></i>
                            Liste des entreprises
                        </a>
                    </p>
                }
            </div>
        </div>
    </div>
</footer>