@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Models

<!DOCTYPE html>
<html class="h-100" lang="fr-ca">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Plateforme événementielle : création et partage d'événements">
    <meta name="author" content="La marque sans nom">
    <title>EVENTS inc. - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Favicon here -->
</head>

<body class="d-flex flex-column h-100">
    <header>
        <nav role="navigation" class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/soccer-ball-logo.svg" width="30" height="30" class="d-inline-block align-top" alt="" />
                    EVENTS INC.
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <partial name="_MenuPartial" />
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="mb-md-5 mb-3">
        <div class="container">

            @RenderBody()

        </div>
    </main>

    <footer class="mt-auto py-md-5 py-3 bg-dark footer">
        <div class="container">
            <div class="row">
                <div class="my-2 col-12 col-md">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/img/soccer-ball-logo.svg" width="30" height="30" class="d-inline-block align-top mr-1" alt="" />
                            EVENTS INC.
                        </a>
                </div>
                <div class="my-2 col-12 col-md">
                        <a asp-area="" asp-controller="Home" asp-action="Contact">
                            <i class="fas fa-envelope mr-1"></i>
                            Contactez-nous
                        </a>
                </div>
                <div class="my-2 col-12 col-md">
                        <a href="https://github.com/mrjrdg/marque-sans-nom">
                            <i class="fab fa-github mr-1"></i>
                            Nous suivre sur Github
                        </a>
                </div>
                 <div class="col-12 col-md">
                    <p>
                        <a asp-controller="Business" asp-action="Index">
                            Voir nos Entreprises
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
