@model LoginViewModel

@{
    ViewBag.Title = "Se connecter";
}

<h1 class="border-bottom">@ViewBag.Title</h1>
<div class="row">
    <div class="col-md">
        <form method="post">

            @if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
            {
                <div class="alert alert-danger alert-dismissible fade show col-md-6" role="alert">
                    @Html.ValidationSummary(false, "")
                    <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <div class="form-group no-gutters">
                <label asp-for="Email"></label>
                <div class="col-md-6">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group no-gutters">
                <label asp-for="Password"></label>
                <div class="col-md-6">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group no-gutters">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Connexion</button>
        </form>
    </div>
</div>