@model LoginViewModel

@{
    ViewBag.Title = "User Login";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="./css/connexion.css" rel="stylesheet">
</head>
<div class="container noPad">
<div class="row">
    <div class="formulaireConnexion col-10 offset-1 col-md-4 offset-md-4">
        <h1>Se connecter</h1>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Connexion</button>
        </form>
    </div>
	@* <footer class="pied-de-page navbar-fixed-bottom" id="ifooter">
		<iframe class="pied-de-page" src="footer.html"></iframe>
	</footer> *@
</div>
</div>
