@model RegisterViewModel

@{
    ViewBag.Title = "Inscription";
}

<h1 class="border-bottom">@ViewBag.Title</h1>
<div class="row">
    <div class="col-md">
        <form method="post">

            @if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
            {
                <div class="alert alert-danger alert-dismissible fade show col-md-6" role="alert">
                    @Html.ValidationSummary(false, "")
                    <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <div class="form-group no-gutters">
                <label asp-for="FirstName"></label>
                <div class="col-md-6">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group no-gutters">
                <label asp-for="LastName"></label>
                <div class="col-md-6">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group no-gutters">
                <label asp-for="Email"></label>
                <div class="col-md-6">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group no-gutters">
                <label asp-for="Password"></label>
                <div class="col-md-6">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group no-gutters">
                <label asp-for="ConfirmPassword"></label>
                <div class="col-md-6">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group no-gutters">
                <label asp-for="ville"></label>
                <div class="col-md-6">
                    <input asp-for="ville" class="form-control" />
                    <span asp-validation-for="ville" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group no-gutters">
                <label asp-for="Descrption"></label>
                <div class="col-md-6">
                    <textarea asp-for="Descrption" class="form-control" rows="5" id="comment"></textarea>
                    <span asp-validation-for="Descrption" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <div class="col-md">
                    <button type="submit" class="btn btn-primary m-1">
                        <i class="fas fa-check" style="width:14px; height:16px"></i>
                        &nbsp;
                        S'inscrire
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>