.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* Navbar */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

main.spacebefore {
    margin-top: 8px;
}

img.myavatar {
    border-radius: 50% !important;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 8px;
}

/* Event - General */
h1.eventtitle {
    margin-bottom: 0px;
}

p.eventtime {
    margin-top: 0px;
    margin-bottom: 0px;
}

p.eventorganizer {
    margin-top: 0px;
}

div.eventnav {
    margin-bottom: 8px;
    margin-top: 8px;
}

/* Event - Avatars */
div.eventavatars {
    margin-top: 16px;
}

ul.eventavatars {
    padding-left: 0px;
    margin-bottom: 4px;
}
ul.eventavatars>li {
    display: inline-block;
}

ul.eventavatars>li+li {
    margin-left: -0.75rem;
}

img.eventavatar {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    border: 2px solid #ffffff;
    background: #ffffff;
    color: #fff;
}

/* Event - Category List */
ul.eventcategorylist {
    padding-left: 0px;
}

ul.eventcategorylist>li {
    display: inline-block;
}