.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* Navbar */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

img.avatarsmall {
    width: 2.25rem;
    height: 2.25rem;
}

img.avatarmedium {
    width: 4rem;
    height: 4rem;
}

img.avatarbig {
    width: 6rem;
    height: 6rem;
}

/* Event - General */
div.eventnav {
    background: #f8f9fa;
    border-radius: 0.5rem;
}

ul.eventnav>li {
    margin: 0.5rem;
}

/* Event - Avatars */
ul.eventavatars>li {
    display: inline-block;
}

ul.eventavatars>li+li {
    margin-left: -0.75rem;
}

img.eventavatar {
    border: 2px solid #ffffff;
    color: #fff;
}

/* Event - Category List */
ul.eventcategorylist>li {
    display: inline-block;
}

/* Event List */
.eventlistcardimg {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* Activer plus tard 
.eventlistcard:hover {
    cursor: pointer;
}

.eventlistcard:hover p {
    text-decoration: none;
}
 */